// color
$black: #000000;
$white: #FFFFFF;
$purple: rgb(147 51 234);
$blue: #0055FF;
$text_black: #001A34;
$text_gray: #5A6C7D;
$bg_brown: #F2F0ED;
$border_gray: #C9D3D8;

//breakpoints for container
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;

//vars for grid layout
$gap: 20px;
