// color
$black: #000000;
$white: #FFFFFF;
$purple: #9333ea;
$purple_black: #7128b6;
$blue: #0055FF;
$text_black: #001A34;
$text_gray: #5A6C7D;
$bg_brown: #F2F0ED;
$border_gray: #E6E6E6;

//breakpoints for container
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;

//vars for grid layout
$gap: 20px;
$gap-md: 15px;
$gap-sm: 10px;
