.f-popup(id="main-popup")
  .f-popup__body
    .f-popup__content
      h2 Заголовок попапа
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, soluta aut explicabo error, animi similique rem, cumque sint eos a consectetur quas quae est beatae voluptate dolore harum quia non.
      button.f-popup__close(type='button') Close

.f-popup(id="second-popup")
  .f-popup__body
    .f-popup__content
      h2 Заголовок попапа second
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, soluta aut explicabo error, animi similique rem, cumque sint eos a consectetur quas quae est beatae voluptate dolore harum quia non.
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus accusamus, dolor aspernatur minus provident quis eveniet praesentium enim neque delectus dicta odio vel at fugit alias atque, quia saepe obcaecati?
      button.f-popup__close(type='button') Close
