.f-popup(id="main-popup")
  .f-popup__wrapper
    h2 Заголовок попапа
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, soluta aut explicabo error, animi similique rem, cumque sint eos a consectetur quas quae est beatae voluptate dolore harum quia non.
  button.f-popup__close(type='button') Close
