.grid
  .item.col-1.col-sm-4 col-1
  .item.col-2.col-sm-4 col-2
  .item.col-3.col-sm-4 col-3
  .item.col-4.col-sm-4 col-4
  .item.col-2.col-sm-4 col-2
  .item.col-full col-full
  .item.col-auto col-auto
