.f-tabs
  .f-tabs__list
    button.f-tabs__list-btn.f-tabs__list-btn--active Огурец
    button.f-tabs__list-btn Томат
    button.f-tabs__list-btn Баклажан
    button.f-tabs__list-btn Капуста
  .f-tabs__content
    .f-tabs__content-item.f-tabs__content-item--active Lorem ipsum 1
    .f-tabs__content-item Lorem ipsum 2
    .f-tabs__content-item Lorem ipsum 3
    .f-tabs__content-item Lorem ipsum 4
