.f-tabs__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-tabs__list-btn {
  display: block;
  width: 25%;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.f-tabs__list-btn--active{
  background-color: $purple;
  color: $white;
}

.f-tabs__content-item {
  padding: 10px;
  display: none;
}

.f-tabs__content-item--active {
  display: block;
}

@media (max-width: $sm) {
  .f-tabs__list {
    flex-wrap: wrap;
  }

  .f-tabs__list-link {
    width: 100%;
    text-align: left;
  }
}
