.f-accordeon
  .f-accordeon__item
    .f-accordeon__header
      p Заголовок аккордеона
    .f-accordeon__body
      .f-accordeon__content(id="test")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsam repellat voluptates non qui amet ratione magni illo sed, dolore vero ea voluptatibus quidem quae voluptate eveniet laboriosam blanditiis corrupti?
  .f-accordeon__item
    .f-accordeon__header
      p Заголовок аккордеона
    .f-accordeon__body
      .f-accordeon__content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cum, nostrum quos iusto voluptate provident facere debitis doloremque vitae nisi sed voluptatum! Accusamus expedita accusantium veniam aperiam, quod quae sequi!
  .f-accordeon__item
    .f-accordeon__header
      p Заголовок аккордеона
    .f-accordeon__body
      .f-accordeon__content
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ea aspernatur maiores corporis possimus, vitae nemo architecto nulla officia quis repellendus voluptas consequatur omnis nostrum asperiores quaerat culpa deserunt sit?
