.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: $xxl) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: $xl) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: $lg) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: $md) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: $sm) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
