.f-accordion__item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: $purple;
  color: $white;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.f-accordion__item::after {
  content: '';
  display: block;
  width: 18px;
  height: 12px;
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 1;
  @include transition(all);
}

.f-accordion__item.active::after {
  transform: rotate(180deg);
  @include transition(all);
}

.f-accordion__item-title {
  font-weight: 500;
}

.f-accordion__item-content {
  display: none;
  margin-top: 10px;
}
