.f-button {
  display: inline-block;
  margin: 0;
  padding: 18px 20px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  border-radius: 5px;
  cursor: pointer;
}

.f-button--main {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #0055FF;
  color: $white;
}

.f-button--main:hover {
  background: $blue;
}

.f-button--main:active {
  padding: 20px 20px 18px;
  background: $blue;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: $md) {
  .f-button {
    padding: 8px 10px 10px;
    font-size: 16px;
  }

  .f-button--main:active {
    padding: 10px 10px 8px;
  }
}
