.f-modal {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #c9d3d8;
  position: relative;
}

.f-modal__wrap {
  padding: 30px;
}

.f-modal__title {
  margin: 0 0 20px 0;
}

.f-modal .mfp-close {
  font-size: 0;
  background-image: url(../img/close_icon.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50%;
  top: -22px;
  right: -22px;
  opacity: 1;
}
