.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: $gap;
}

.col-auto {
  grid-column: auto;
}

.col-full {
  grid-column: 1 / -1;
}

.col-1 {
  grid-column: auto / span 1;
}

.col-2 {
  grid-column: auto / span 2;
}

.col-3 {
  grid-column: auto / span 3;
}

.col-4 {
  grid-column: auto / span 4;
}

.col-5 {
  grid-column: auto / span 5;
}

.col-6 {
  grid-column: auto / span 6;
}

.col-7 {
  grid-column: auto / span 7;
}

.col-8 {
  grid-column: auto / span 8;
}

.col-9 {
  grid-column: auto / span 9;
}

.col-10 {
  grid-column: auto / span 10;
}

.col-11 {
  grid-column: auto / span 11;
}

.col-12 {
  grid-column: auto / span 12;
}

@media (max-width: $xxl) {
  .col-xxl-auto {
    grid-column: auto;
  }

  .col-xxl-full {
    grid-column: 1 / -1;
  }

  .col-xxl-1 {
    grid-column: auto / span 1;
  }

  .col-xxl-2 {
    grid-column: auto / span 2;
  }

  .col-xxl-3 {
    grid-column: auto / span 3;
  }

  .col-xxl-4 {
    grid-column: auto / span 4;
  }

  .col-xxl-5 {
    grid-column: auto / span 5;
  }

  .col-xxl-6 {
    grid-column: auto / span 6;
  }

  .col-xxl-7 {
    grid-column: auto / span 7;
  }

  .col-xxl-8 {
    grid-column: auto / span 8;
  }

  .col-xxl-9 {
    grid-column: auto / span 9;
  }

  .col-xxl-10 {
    grid-column: auto / span 10;
  }

  .col-xxl-11 {
    grid-column: auto / span 11;
  }

  .col-xxl-12 {
    grid-column: auto / span 12;
  }
}

@media (max-width: $xl) {
  .col-xl-auto {
    grid-column: auto;
  }

  .col-xl-full {
    grid-column: 1 / -1;
  }

  .col-xl-1 {
    grid-column: auto / span 1;
  }

  .col-xl-2 {
    grid-column: auto / span 2;
  }

  .col-xl-3 {
    grid-column: auto / span 3;
  }

  .col-xl-4 {
    grid-column: auto / span 4;
  }

  .col-xl-5 {
    grid-column: auto / span 5;
  }

  .col-xl-6 {
    grid-column: auto / span 6;
  }

  .col-xl-7 {
    grid-column: auto / span 7;
  }

  .col-xl-8 {
    grid-column: auto / span 8;
  }

  .col-xl-9 {
    grid-column: auto / span 9;
  }

  .col-xl-10 {
    grid-column: auto / span 10;
  }

  .col-xl-11 {
    grid-column: auto / span 11;
  }

  .col-xl-12 {
    grid-column: auto / span 12;
  }
}

@media (max-width: $lg) {
  .col-lg-auto {
    grid-column: auto;
  }

  .col-lg-full {
    grid-column: 1 / -1;
  }

  .col-lg-1 {
    grid-column: auto / span 1;
  }

  .col-lg-2 {
    grid-column: auto / span 2;
  }

  .col-lg-3 {
    grid-column: auto / span 3;
  }

  .col-lg-4 {
    grid-column: auto / span 4;
  }

  .col-lg-5 {
    grid-column: auto / span 5;
  }

  .col-lg-6 {
    grid-column: auto / span 6;
  }

  .col-lg-7 {
    grid-column: auto / span 7;
  }

  .col-lg-8 {
    grid-column: auto / span 8;
  }

  .col-lg-9 {
    grid-column: auto / span 9;
  }

  .col-lg-10 {
    grid-column: auto / span 10;
  }

  .col-lg-11 {
    grid-column: auto / span 11;
  }

  .col-lg-12 {
    grid-column: auto / span 12;
  }
}

@media (max-width: $md) {
  .col-md-auto {
    grid-column: auto;
  }

  .col-md-full {
    grid-column: 1 / -1;
  }

  .col-md-1 {
    grid-column: auto / span 1;
  }

  .col-md-2 {
    grid-column: auto / span 2;
  }

  .col-md-3 {
    grid-column: auto / span 3;
  }

  .col-md-4 {
    grid-column: auto / span 4;
  }

  .col-md-5 {
    grid-column: auto / span 5;
  }

  .col-md-6 {
    grid-column: auto / span 6;
  }

  .col-md-7 {
    grid-column: auto / span 7;
  }

  .col-md-8 {
    grid-column: auto / span 8;
  }

  .col-md-9 {
    grid-column: auto / span 9;
  }

  .col-md-10 {
    grid-column: auto / span 10;
  }

  .col-md-11 {
    grid-column: auto / span 11;
  }

  .col-md-12 {
    grid-column: auto / span 12;
  }
}

@media (max-width: $sm) {
  .col-sm-auto {
    grid-column: auto;
  }

  .col-sm-full {
    grid-column: 1 / -1;
  }

  .col-sm-1 {
    grid-column: auto / span 1;
  }

  .col-sm-2 {
    grid-column: auto / span 2;
  }

  .col-sm-3 {
    grid-column: auto / span 3;
  }

  .col-sm-4 {
    grid-column: auto / span 4;
  }

  .col-sm-5 {
    grid-column: auto / span 5;
  }

  .col-sm-6 {
    grid-column: auto / span 6;
  }

  .col-sm-7 {
    grid-column: auto / span 7;
  }

  .col-sm-8 {
    grid-column: auto / span 8;
  }

  .col-sm-9 {
    grid-column: auto / span 9;
  }

  .col-sm-10 {
    grid-column: auto / span 10;
  }

  .col-sm-11 {
    grid-column: auto / span 11;
  }

  .col-sm-12 {
    grid-column: auto / span 12;
  }
}
