.main-form__check-wrapper {
  position: relative;
}

.main-form__check {
  width: 24px;
  height: 24px;
  opacity: 0;
  z-index: -10000;
  position: absolute;
  top: 0;
  left: 0;
}

.main-form__label {
  display: block;
  padding-left: 34px;
  font-size: 14px;
  color: $text_gray;
  cursor: pointer;
  position: relative;
}

.main-form__label a {
  color: $text_gray;
  @include transition(color);
}

.main-form__label a:hover {
  color: $blue;
  @include transition(color);
}

.main-form__label:before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid $bg_brown;
  border-radius: 6px;
  background-color: $bg_brown;
  position: absolute;
  top: -4px;
  left: 0;
}

.main-form__label:after {
  content: "";
  display: none;
  width: 24px;
  height: 24px;
  background-image: url('../img/checkbox-active.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  top: -4px;
  left: 0;
  position: absolute;
}

.main-form__check:checked+.main-form__label:after {
  display: block;
}

@media (max-width: 420px) {
  .main-form__label:after,
  .main-form__label::before {
    top: 2px;
  }
}
