.wysiwyg {
  font-size: 18px;
}

.wysiwyg h1 {
  margin: 15px 0 30px 0;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.wysiwyg h2 {
  margin: 10px 0 20px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

.wysiwyg h3 {
  margin: 10px 0 20px 0;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
}

.wysiwyg p {
  margin: 10px 0;
}

.wysiwyg ul {
  padding: 0;
  margin: 10px 0;
  list-style: none;
}

.wysiwyg ul li {
  padding-left: 20px;
  margin-bottom: 10px;
  position: relative;
}

.wysiwyg ul li:last-child {
  margin-bottom: 0;
}

.wysiwyg ul li::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: $purple;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}

.wysiwyg ol {
  padding: 0 0 0 20px;
  margin: 10px 0;
  list-style:decimal;
}

.wysiwyg ol li {
  margin-bottom: 10px;
}

.wysiwyg ol li:last-child {
  margin-bottom: 0;
}

.wysiwyg a {
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid $black;
}

.wysiwyg a:hover {
  color: $purple;
  border-bottom: 1px solid $purple;
}
