.f-select
  .f-select__head(title="Помидор")
    span.f-select__title Помидор
  .f-select__body
    label.f-select__item
      input.f-select__input(type="checkbox", name="cucumber", value="cucumber", data-value="Огурец")
      span.f-select__label.f-select__label--checkbox Огурец
    label.f-select__item
      input.f-select__input(type="checkbox", name="eggplant", value="eggplant", data-value="Баклажан")
      span.f-select__label.f-select__label--checkbox Баклажан
    label.f-select__item
      input.f-select__input(type="checkbox", name="carrot", value="carrot", data-value="Морковь")
      span.f-select__label.f-select__label--checkbox Морковь
    label.f-select__item
      input.f-select__input(type="checkbox", name="squash", value="squash", data-value="Кабачок")
      span.f-select__label.f-select__label--checkbox Кабачок
    label.f-select__item
      input.f-select__input(type="checkbox", name="cabbage", value="cabbage", data-value="Капуста")
      span.f-select__label.f-select__label--checkbox Капуста
    label.f-select__item
      input.f-select__input(type="checkbox", name="potato", value="potato", data-value="Картофель")
      span.f-select__label.f-select__label--checkbox Картофель

